
<body>
  <p></p>

  @if (showList()) {
  <header>
    <mat-form-field [style.width.px]=100>
    <mat-label>search</mat-label>
    <input matInput [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($any($event))">
  </mat-form-field>
  </header>
  @if (res.myRes()) {
  <header>
    <table style="width: 35%;  text-align:justify;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Region</th>
          <th>Action</th>
        </tr>
      </thead>
          <tbody>
        @for (item of filtered() ; track item.name){
        <tr>
          <td>{{ item.name}}</td>
          <td>{{ item.alpha3Code }}</td>
          <td>{{ item.region}}</td>
          <td><button mat-raised-button (click)="getCountry(item.alpha3Code)">view</button></td>
        </tr>
        } @empty {
        <tr style="color: red;">not found</tr>
        }
      </tbody>
    </table>
  </header>
  }
  }
  <main>
    <section>
      @if (country.isLoading()) {
      <div>Loading ...</div>
      }
      @else if (country.error()) {
      <div>Could not load user information</div>
      }
      @else if (country.hasValue()) {
      <button [hidden]="showList()" matButton="filled" (click)="showtheList()">Show search</button>
      @let data = country.value();
      <p><img style="padding: 10px 50px 50px 10px;" width="192" height="144" src="{{data.flags.svg}}"></p>
      <h3>Independent: @if(data.independent) {<span>YES</span>}
        @else {<span>NO</span>} </h3>
      <h3>Name: <span>{{data.name}} </span> <span>({{data.translations.fr}})</span> Capital:
        <span>{{data.capital}}</span> Region / Sub-region: <span> {{data.region}} / {{data.subregion}}</span>
      </h3>
      <h3>Population: <span>{{data.population | number}}</span> Area: <span>{{data.area | number}}</span> Population
        Density: <span>{{data.populationDensity | number}}</span></h3>
      <h3>Currency: <span>{{data.currencies[0].name}}</span></h3>

      <h3>Language(s): <span>{{langs}}</span></h3>
      <h3>Border(s): <span>{{borders}}</span></h3>
      <h3>Timezone(s): <span>{{data.timezones.join(", ")}}</span></h3>
      <h3>Top level domain: <span>{{data.topLevelDomain[0]}}</span></h3>
      }
    </section>
  </main>

  <!-- Footer section -->
  <footer>
    <p>Ken S Coles 2026 </p>
    <a href="https://countries.dev/">my thanks to Countries.Dev</a>
  </footer>
</body>